[Unit]
Description=bialet.org in Bialet
PartOf=bialet.service
After=bialet.service

[Service]
User=root
WorkingDirectory=/www/bialet.org
ExecStart=bialet -p 7001 /www/bialet.org
Restart=on-failure

[Install]
WantedBy=bialet.service
