[Unit]
Description=Pragmore Web in Bialet

[Service]
User=albo
WorkingDirectory=/home/albo/projects/web
ExecStart=bialet-0.1 -p 7001 /home/albo/projects/web
Restart=always

[Install]
WantedBy=multi-user.target
