[Unit]
Description=vcp.albo.ar in Bialet
PartOf=bialet.service
After=bialet.service

[Service]
User=root
WorkingDirectory=/www/vcp.albo.ar
ExecStart=bialet -p 7010 -m 1024 -M 2048 -l /var/log/bialet/vcp.albo.ar.log -d /www/vcp.albo.ar.sqlite /www/vcp.albo.ar
Restart=on-failure

[Install]
WantedBy=bialet.service
