[Unit]
Description=dev.ar in Bialet
PartOf=bialet.service
After=bialet.service

[Service]
User=root
WorkingDirectory=/www/dev.ar
ExecStart=bialet -p 7002 -m 1024 -M 2048 -l /var/log/bialet/dev.ar -d /www/dev.ar.sqlite /www/dev.ar
Restart=on-failure

[Install]
WantedBy=bialet.service
